<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="../assets/fonts/roboto-regular.woff2">
    <link rel="preload" as="font" type="font/woff" crossorigin href="../assets/fonts/roboto-regular.woff">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="../assets/fonts/roboto-italic.woff2">
    <link rel="preload" as="font" type="font/woff" crossorigin href="../assets/fonts/roboto-italic.woff">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="../assets/fonts/roboto-500.woff2">
    <link rel="preload" as="font" type="font/woff" crossorigin href="../assets/fonts/roboto-500.woff">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="../assets/fonts/roboto-700.woff2">
    <link rel="preload" as="font" type="font/woff" crossorigin href="../assets/fonts/roboto-700.woff">
    <link rel="preload" as="font" type="font/woff2" crossorigin href="../assets/fonts/roboto-700italic.woff2">
    <link rel="preload" as="font" type="font/woff" crossorigin href="../assets/fonts/roboto-700italic.woff">

    <script>
        var siteUrl = '{{@site.url}}';
    </script>

    {{ghost_head}}
</head>

<body class="{{body_class}}{{block "body_class"}}">
    <div class="site">
        {{> header}}
        {{#is "home"}}
            {{> cover}}
        {{/is}}
        <div class="site-content">
            {{{body}}}
        </div>
        {{> footer}}
    </div>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script>
        // Passive event listeners
        jQuery.event.special.touchstart = {
            setup: function( _, ns, handle ) {
                this.addEventListener("touchstart", handle, { passive: true });
            }
        };
        jQuery.event.special.touchmove = {
            setup: function( _, ns, handle ) {
                this.addEventListener("touchmove", handle, { passive: true });
            }
        };
    </script>
    <script src="{{asset "built/main.min.js"}}"></script>

    {{{block "scripts"}}}

    {{ghost_foot}}
</body>

</html>